body {
background: -moz-linear-gradient(left, #FFC778, #FFF);
  background: -webkit-linear-gradient(left, #FFC778, #FFF);
  background: linear-gradient(to right, #FFC778, #FFF);
  }

div{
  background: #f3f3f3;
  width: 400px;
  padding: 30px;
  text-align: center;
  border: 2px solid #000000;
  margin: 30px auto;
  
}